.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 5px;

}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0;
    border: 1.5px solid white;
  
  }

  .rightbarUsername{
    font-size: 14px;
    font-weight: 500;
}